<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Github Starred Repositories</title>
		<meta name="description" content="Look up repos"> 
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
 

 		<style type="text/css">
			.yui3-skin-night {
				
		    }
	 		body{
	 			padding:50px; 
	 			height:100%;
	 		}

	 		.repo-link{color:#8E8E8E;}
	 		#filter{margin-top:5px;}
	 		.throbber{ z-index: 9; position: absolute;border:1px #ccc solid; width: 90%;height: 90%;top:94px;left:64px;
	 			background-color: rgb(126,126,126); opacity: 0.5;
	 			color:white;
	 			padding:20px;
	 			font-size: 120%;
	 			font-weight: bold;
	 			font-family: HelveticaNeue,arial,helvetica,clean,sans-serif;

	 		}
 		</style>
	</head>
	<body class="yui3-skin-repo">
		<form class="pure-form">
	 		<fieldset>
	 			<legend>Github Username</legend>
	 			<input type="text" id="name" placeholder="Github User Name" /> <button id="loadRepos" class="pure-button pure-button-primary"> Get Repos </button>
	 		</fieldset>
		</form>	
		<div id="filter">
			
		</div>
		<div id="results"></div>
		<script id="language-list-template" type="template/handlebars">
			<div class="languages">
				{{#languages}}
					<button class="checkbox pure-button" data-lang="{{language}}">{{language}}</button>
				{{/languages}}
			</div>
		</script>
 		<script id="repolist-template" type="template/handlebars">
 			{{#langs}}
 				<button class="checkbox pure-button" data-value="{{language}}">{{language}}</button>
 			{{/langs}}
 			<table class="pure-table pure-table-horizontal pure-table-striped">
 				<thead>
 					<th>Project Name</th>
 					<th>Description</th>
 					<th>Language of Project</th>
 					<th>Project Owner</th>
 				</thead>
 				<tbody>
 					{{#items}}
 						<tr>
 							<td><a href="{{url}}" class="repo-link">{{name}}</a></td>
 							<td>{{description}}</td>
 							<td>{{language}}</td>
 							<td>{{owner}}</td>
 						</tr>
 					{{/items}}
 				</tbody>
 			</table>
 		</script>
	<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
	<script src="/js/collection-view.js"></script>
	<script src="/js/models/repo.js"></script>
	<script src="/js/models/repo-list.js"></script>
	<script src="/js/views/repo-list-view.js"></script>
	<script src="/js/repo-app.js"></script>
 	<script type="text/javascript">
 		YUI({skin: 'night', gallery: 'gallery-2012.04.12-13-50', combine:true }).use('node-base', 'event-base', 'io-base','button-plugin', 'cssbutton', 'json', 'datatable-sort', 'substitute','gallery-funcprog', 'button-group','handlebars','io-queue', 'repo-list-view', 'repo-list','repos-app', function(Y){

 			var loadLanguageFilter = function(id, res, args){
					Y.one('#filter').setContent('');
					var repos = Y.JSON.parse(res.responseText),
						source = '{{#langs}}<button class="checkbox pure-button" data-value="{{language}}">{{language}}</button>{{/langs}}',
						template = Y.Handlebars.compile(source);
						allLangs =  Y.map(repos, function(repo) { return repo.language; }),
						reducedLangs = Y.reduce(allLangs, [] ,function(langs, lang) { 
							if(lang && langs.indexOf(lang) === -1) {
								langs.push(lang); 
							}
							return langs;
						}),
						structuredLangs = Y.map(reducedLangs, function(lang){return {language: lang}});
						console.log( structuredLangs );
						var html = template({langs: structuredLangs});
						Y.one('#filter').append(html);
						var languageFillterGroup = new Y.ButtonGroup({
        					srcNode: '#filter',
      						type: 'checkbox',
							on: {
									'selectionChange': function(e){
									var selection = languageFillterGroup.getSelectedButtons(),
										_filtered = Y.reduce(results, [], function(filteredRepos, repo){
										for (var i = 0; i < selection.length; i++) {
											if(repo.language === selection[i].getData('value')){
												filteredRepos.push(repo);
											}
										};
										return filteredRepos;
									});
									table.set('data', _filtered.length === 0 ? results : _filtered);
									table.syncUI();
					            }
					        }
					    }).render();
					
 				},
 				showThrobber = function(){
 					var indicator = Y.Node.create('<div class="throbber">Loading</div>');
 					Y.one('body').appendChild(indicator);
 					textHandler = Y.later(200, indicator,function(){
 						var text = this.getContent() + '.';
 						this.setContent(text);
 					}, null, true);

 				},
 				hideThrobber = function(){
 					if(textHandler) textHandler.cancel();
 					var throbber = Y.all('.throbber')
 					if (throbber) throbber.remove();
 				}
 			Y.on('io:start', showThrobber);
 			Y.on('io:complete', hideThrobber)
			//Y.on('io:complete', loadTable);
			//Y.on('io:complete', loadLanguageFilter )
 			Y.on('domready', function(){
				var app = new Y.ReposApp({container: '#results'});
				app.render(); 
 

 				var button = Y.one('#loadRepos'); 
				button.on('click', function(e){ 
					Y.log('clickity click');
					e.preventDefault();
					app.save('/stars/' + Y.one('#name').get('value'));
 
				}); 
			});
 		});
 	</script>
 	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1847639-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>