<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Who watches the watchers</title>
		<meta name="description" content=""> 
		<meta name="viewport" content="width=device-width">
 
 
 

 		<style type="text/css">
			.yui3-skin-night {
				background-color: #000;
		    }
	 		body{padding:50px; height:100%;}
	 		label {padding: 5px;}
	 		input{font-size:110%;padding:4px;}
	 		.repo-link{color:#8E8E8E;}
	 		#filter{margin-top:5px;}
 		</style>
	</head>
	<body class="yui3-skin-night">
		<form>
	 		<div class="form-row">
	 			<input type="text" id="name" placeholder="Github User Name" /> <button id="loadRepos"> Get Repos </button>
	 		</div>

	 		<div class="form-row">
	 			
	 		</div>
		</form>	
		<div id="filter">
			
		</div>
		<div id="results"></div>
 
	<script src="http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js"></script>
 	<script type="text/javascript">
 		YUI({skin: 'night', gallery: 'gallery-2012.04.12-13-50' }).use('node-base', 'event-base', 'io-base','button-plugin', 'cssbutton', 'json', 'datatable-sort', 'substitute','handlebars','gallery-funcprog', 'button-group', function(Y){

 			var formatter = function link(o) { 
 					o.cell.setContent(Y.substitute('<a href="{url}" class="repo-link">{name}</a>', {url: o.data.url, name:o.data.name}))	 
				},
				ownerFormatter = function (o){
					o.cell.setContent(Y.substitute('<a href="{url}" class="repo-link">{name}</a>', {url: o.data.owner_url, name:o.data.owner}))	
				},
				table,
				results,
 				loadTable = function(id, res, args){ 
 					Y.one('#results').set('innerHTML', '');
					results = Y.JSON.parse(res.responseText);
 
					table = new Y.DataTable({
						columns: [
							{key: "name", label: "Project Name", sortable:true, nodeFormatter:formatter}, 
							{key: "description", label: "Description", sortable:true}, 
							{key: "language", label: "Language of Project", sortable:true},
							{key: "owner", label: "Project Owner", sortable: true,  nodeFormatter:ownerFormatter}
						], 
						data: results,
						caption: "Watched Repositories!",
						summary: "Github Repositories that are being watched"
					}); 
					table.render("#results"); 
				},
				loadLanguageFilter = function(id, res, args){
					Y.one('#filter').setContent('');
					var repos = Y.JSON.parse(res.responseText),
						source = '{{#langs}}<button class="checkbox" data-value="{{language}}">{{language}}</button>{{/langs}}',
						template = Y.Handlebars.compile(source);
						allLangs =  Y.map(repos, function(repo) { return repo.language; }),
						reducedLangs = Y.reduce(allLangs, [] ,function(langs, lang) { 
							if(lang && langs.indexOf(lang) === -1) {
								langs.push(lang); 
							}
							return langs;
						}),
						structuredLangs = Y.map(reducedLangs, function(lang){return {language: lang}});
						console.log( structuredLangs );
						var html = template({langs: structuredLangs});
						Y.one('#filter').append(html);
						var languageFillterGroup = new Y.ButtonGroup({
        					srcNode: '#filter',
      						type: 'checkbox',
							on: {
									'selectionChange': function(e){
									var selection = languageFillterGroup.getSelectedButtons(),
										_filtered = Y.reduce(results, [], function(filteredRepos, repo){
										for (var i = 0; i < selection.length; i++) {
											if(repo.language === selection[i].getData('value')){
												filteredRepos.push(repo);
											}
										};
										return filteredRepos;
									});
									table.set('data', _filtered.length === 0 ? results : _filtered);
									table.syncUI();
					            }
					        }
					    }).render();
					
 				};
			Y.on('io:complete', loadTable);
			Y.on('io:complete', loadLanguageFilter )
 			Y.on('domready', function(){
 				var button = Y.one('#loadRepos');
 				button.plug(Y.Plugin.Button);
				button.on('click', function(e){ 
					e.preventDefault();
					var url;
					if(Y.one('#name').get('value')){
						url = '/repos/' + Y.one('#name').get('value');
						Y.io(url); 
					}
				}); 
			});
 		});
 	</script>
 	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1847639-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>